@font-face {
    font-family: "Veneer Clean Soft";
    src: url("@font-face/Veneer Clean Soft Regular/d9ac15824880c89a218819dfcb490339.eot");
    src: url("@font-face/Veneer Clean Soft Regular/d9ac15824880c89a218819dfcb490339.eot?#iefix") format("embedded-opentype"),
        url("@font-face/Veneer Clean Soft Regular/d9ac15824880c89a218819dfcb490339.woff2") format("woff2"),
        url("@font-face/Veneer Clean Soft Regular/d9ac15824880c89a218819dfcb490339.woff") format("woff"),
        url("@font-face/Veneer Clean Soft Regular/d9ac15824880c89a218819dfcb490339.ttf") format("truetype"),
        url("@font-face/Veneer Clean Soft Regular/d9ac15824880c89a218819dfcb490339.svg#Veneer Clean Soft") format("svg");
}

@font-face {
    font-family: "RBNo2.1a W00 Book";
    src: url("@font-face/RBNo2.1a/222ff666820ff23b025ca47c9d85183f.eot");
    /* IE9*/
    src: url("@font-face/RBNo2.1a/222ff666820ff23b025ca47c9d85183f.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("@font-face/RBNo2.1a/222ff666820ff23b025ca47c9d85183f.woff2") format("woff2"),
        /* chrome、firefox */
        url("@font-face/RBNo2.1a/222ff666820ff23b025ca47c9d85183f.woff") format("woff"),
        /* chrome、firefox */
        url("@font-face/RBNo2.1a/222ff666820ff23b025ca47c9d85183f.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("@font-face/RBNo2.1a/222ff666820ff23b025ca47c9d85183f.svg#RBNo2.1a W00 Book") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: "Arcandias Downtown";
    src: url("@font-face/arcandias/Arcandias\ Downtown.ttf") format("truetype");
    /* IE9*/

}

@font-face {
    font-family: "Sunny Sam";
    src: url("@font-face/sunny_sam/SunnySamBold_PERSONAL_USE.ttf") format("truetype");
    /* IE9*/

}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    background-color: black;

}

.body {
    height: 100%;

}

.itlabspro-container {
    height: 100%;
    width: 100%;
    position: relative;

}

.itlabspro-container-about {
    height: 600px;
    width: 100%;
    position: relative;

}

.itlabspro-bar {
    width: 100%;
    height: fit-content;
    background-color: black;
    position: relative;

    z-index: 9;
}

.itlabspro-top {
    width: 1300px;
    margin: auto;
    padding-top: 10px;

}

@media screen and (max-width: 1100px) {
    .itlabspro-top {
        width: 1100px;
        margin: auto;
        padding-top: 10px;

    }

    a {
        text-decoration: none !important;
        color: #808C94 !important;
        font-size: 5px;


    }

    li a {
        text-decoration: none !important;
        color: #808C94;
        font-size: 20px;
        font-weight: bolder;
        font-family: "RBNo2.1a W00 Book";
    }

    

    .excellence {
        width: 100%;
        height: fit-content;
        background-color: #B6935C;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .blog-cards {
        width: 280px;
        height: fit-content;
        background-color: #ffffff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: 0 10px 16px 0 rgba(81, 79, 79, 0.19), 0 6px 20px 0 rgba(81, 79, 79, 0.19) !important;
    }

    .width {
        width: 1100px !important;
    }

    .height {
        height: 780px !important;
    }

    .height2 {
        height: 1400px !important;
    }

    .itlabspro-col {
        width: 100% !important;
        padding-bottom: 30px;
    }

    .itlabspro-col2 {
        width: 50% !important;
        padding-bottom: 30px;
    }
}

.logo {
    width: 200px;
    height: 75px;
}

.instagram {
    width: 23px;
    height: 23px;
    margin-top: 0px;
    margin-left: 7px;

}

.input-contact:focus {
    outline: none;
}
input:focus {
    outline: none;
}

a {
    text-decoration: none !important;
    color: #808C94 !important;
    font-size: 12px;


}

.slider-icon {
    width: 30px;
    height: 30px;
    margin-top: 1px;
}

.select {
    color: #B6935C;
    border: none;
}

.input-date {
    border: none;
    width: 110px;
    height: 30px;
}

.excellence-icon {
    color: #ffffff;
    font-size: 100px;

}

li a {
    text-decoration: none !important;
    color: #808C94;
    font-size: 16px;
    font-family: "Veneer Clean Soft";
}

ul {
    list-style-type: none;
}

.cercle {
    width: 20px;
    height: 20px;
    border-radius: 20px;


}

.icon {
    width: 20px;
    height: 20px;

    margin-left: 7px;
    margin-top: 2px;

}

.m {
    margin-left: 7px;
    margin-top: 5px;
}

a:hover {
    color: gold;
}

.contain {

    height: 100%;
}



.overlay {
    z-index: 9;
    background-color: rgb(255, 255, 255);
    width: 1150px;
    height: 75px;
    margin-left: 10%;
    margin-right: 50px;
    margin-top: 280px;
    position: absolute;
    top: 0;
    border-radius: 5px;
}

.itlabspro-border {
    border-right: solid 1px #aaa;
}

#search {
    background-color: #B6935C;
    border: none;
    color: white;
    width: 100px;
    height: 40px;
}

#more {
    background-color: #B6935C;
    border: none;
    color: white;
    width: 120px;
    height: 30px;
}

::placeholder {
    color: #B6935C;
    opacity: 1;
    /* Firefox */
}

::-webkit-calendar-picker-indicator {
    background-image: url('../images/datepicker.png');
}

/* input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
  }*/

input[type="date"] {
    -webkit-text-fill-color: #B6935C;
}


#demo-1 {
    position: absolute;
    /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
    overflow: hidden;
    /* to bound the empty top space created by inner element's top margin */
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #999;

}

#demo-about {
    position: absolute;
    /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
    overflow: hidden;
    /* to bound the empty top space created by inner element's top margin */
    width: 100%;
    height: 600px;
    top: 0;
    background-color: #999;

}

#about {
    color: #B6935C;
}

.demo-inner-content {
    /* if position is not set, the script will set it to 'relative'. */
    z-index: 9;
    /* if z-index is not set, the script will set it to '2'. */
    /*margin: 180px auto;*/
    margin: auto;
    max-width: 800px;
    background-color: #fff;
    height: auto;
    border-radius: 5px;
    border: #B6935C solid 5px;

}

.demo-inner-about {
    /* if position is not set, the script will set it to 'relative'. */
    z-index: 9;
    /* if z-index is not set, the script will set it to '2'. */
    /*margin: 180px auto;*/
    margin: auto;
    text-align: center;


}

.itlabspro-position {
    position: absolute;
    bottom: 100px;
    width: 100%;
}

.itlabspro-position-about {
    position: absolute;
    bottom: 140px;
    width: 100%;
}

.itlabspro-active {
    color: #B6935C !important;
}

.trip {
    background-image: url('../images/cover.png');
    background-repeat: no-repeat;

    width: 100%;
    height: fit-content;
    text-align: center;
    align-items: center;

}

.about {
    
    background-repeat: no-repeat;
    padding-top: 50px;
    background-color: #000000;
    width: 100%;
    height: fit-content;
    text-align: center;
    align-items: center;

}

.itlabspro-center{
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.trip-h5 {
    font-weight: bolder;
}

.trip-h5-index {
    letter-spacing: 4px;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 10px;
}

.trip-img {
    height: 300px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.input-contact{
    width: 90%;
    height: 40px;
    padding-left: 10px;
    border:1px solid #B6935C;
    border-radius: 10px;
}
.input-contact::placeholder {
    color: #999;
    opacity: 1;
    /* Firefox */
}

.contain-contact{
    width: 85%; 
    margin: auto;
}
.button-contact{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 0px;
    color: #ffffff;
    background-color: #B6935C;
    font-weight: bold;
}
.card-bottom {
    text-align: right;
    padding-bottom: 30px;
}

.trip-price {
    color: red;
    font-weight: bolder;
}

#black {
    width: 80px;
    border-top: 4px solid !important;
    opacity: 1 !important;
    color: black !important;
    margin: auto;
    
}

#card {
    width: 330px;
    max-width: 100%;
    border-top: 2px solid !important;
    opacity: 1 !important;
    color: #B6935C !important;

}

#orange {
    width: 80px;
    border-top: 2px solid !important;
    opacity: 1 !important;
    color: #E46D30 !important;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

#white {

    border-top: 1px solid !important;
    opacity: 1 !important;
    color: #ffffff !important;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

.itlabspro-card {
    width: 200px;
    height: 600px;
    border: 2px;
    border-radius: 100px;
}

.excellence {
    width: 100%;
    height: fit-content;
    background-color: #B6935C;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.excellence-h5 {
    font-weight: bolder;
    color: #fff !important;
}

.excellence-h4 {
    color: #fff;
    font-weight: bolder;
}

.excellence-p {
    color: #fff;
    font-size: small;
}

.itlabspro-category {
    width: 100%;
    height: fit-content;

    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.itlabspro-category-p {
    font-weight: bolder;
    font-size: small;
}

.itlabspro-category-span {
    color: #bebebe;
    font-weight: normal;
}

.itlabspro-category-price {
    color: #E46D30;
    font-weight: bolder;
}

#font {
    font-family: "Arcandias Downtown";
    font-size: 50px;
    font-weight: 200px;
    width: 400px;
    margin: auto;
}

.cat-cards {
    height: 290px;
    width: 200px;
    margin-top: 30px;
    padding-top: 40px;
    text-align: center;
    background-color: #ffffff;
}

.h2-font {
    font-family: "Arcandias Downtown" !important;
    font-size: 30px !important;
    font-weight: 200px !important;
    width: 200px !important;
    margin: auto !important;
}

.cat-cards-img {
    width: 50px;

}

.itlabspro-testimonials {
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 50px;
}

.itlabspro-testimonials-div {
    padding-top: 80px;
    width: 1300px;
    margin: auto;
}

.testimonials-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
}

.testimonials-name {
    font-weight: bolder;
    margin-bottom: 5px;
    margin-left: 10px;
}

.testimonials-job {
    font-weight: lighter;
    margin-bottom: 0px;
    margin-left: 10px;
}

.stars {
    width: 80px;
    float: right;
}

.h5-font {
    font-family: "Sunny Sam";
    color: #C82333;
    font-size: 28px;
}

.itlabspro-about {
    width: 100%;
    height: fit-content;
    background-color: #B6935C;
    padding-bottom: 80px;
    margin-bottom: 50px;
    border-radius: 5%;
    border-left:  #000000 solid 50px;
    border-right:  #000000 solid 50px;
    
}

.about-div1 {
    padding-top: 110px;
    width: 1300px;
}

.about-div2 {
    text-align: left;
    padding-top: 30px;
    padding-left: 50px;
}

.about-div3 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.about-p {
    color: #ffffff;
    font-weight: lighter;
}

.about-h5 {
    color: #555555;
    font-weight: bolder;
}

.about-img {
    width: 500px;
    height: 450px;
    border-radius: 50%;
}

.about-button {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: 0px;
    color: #B6935C;
    font-weight: bold;
}

.itlabspro-footer {
    width: 100%;
    height: fit-content;
    background-color: #000000;
}

.footer-div1 {
    padding-top: 80px;
    width: 1300px;
}

.footer-social {
    width: 30px;
}

.footer-div2 {
    text-align: left;
    padding-top: 10px;
    padding-left: 80px;
}

.footer-div3 {
    text-align: left;
    padding-top: 10px;
}

.footer-span {
    color: #ffffff;
    font-weight: bolder;
}

.footer-a {
    color: #ffffff !important;
    font-size: 14px;
}

select.form-control {
    -webkit-appearance: menulist;
}

.testi-cards {
    width: 600px;
    height: 240px;
    border-radius: 5px;
    box-shadow: 0 10px 16px 0 rgba(81, 79, 79, 0.19), 0 6px 20px 0 rgba(81, 79, 79, 0.19) !important;
}

.itlabspro-blog {
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 50px;
}

.blog-div {
    padding-top: 80px;
    width: 1300px;
    margin: auto;
}

.blog-div1 {
    padding: 15px;
    text-align: left;
}

.blog-p {
    width: 700px;
    margin: auto;
    font-weight: lighter;
}

.blog-cards {
    width: 380px;
    height: fit-content;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 10px 16px 0 rgba(81, 79, 79, 0.19), 0 6px 20px 0 rgba(81, 79, 79, 0.19) !important;
}

.blog-span {
    font-weight: 600;
    font-size: 12px;
    color: #CECECE;
    padding-right: 12px;
}

.blog-icons {
    width: 25px;
    padding-right: 7px;
}

.blog-card-p {
    font-weight: 600;
    font-size: 13px;
    padding-top: 10px;
}

.blog-card-img {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.blog-a {
    color: #F45F66 !important;
    font-weight: bold !important;
    font-size: 15px !important;
}

.svg-filter{
    filter: invert(63%) sepia(21%) saturate(786%) hue-rotate(358deg) brightness(92%) contrast(90%);
}

@media screen and (max-width: 900px) {
    .itlabspro-top {
        width: 100% !important;
        margin: auto;
        padding-top: 10px;
    }
    .justweb
    {
      display: none !important;
    }
    .itlogotop
    {
      text-align: center;;
      padding: 0 !important;
    }
    .itthemenu
    {
      margin:20px 0px !important;
      padding: 0 !important;
    }
  
    .itthemenu ul
    {
      padding:0;
      margin:0;
      text-align: center;
      display: block !important;
      padding: 0 !important;
    }
  
    .itthemenu ul li
    {
      display: block !important;
      padding: 0 !important;
    }
    .fade-ani
    {
      opacity: 1 !important;
      left:0 !important;
      right:0 !important;
      top:0 !important;
      bottom:0 !important;
    }
    .itchoice
    {
      height: auto !important;
    }
    .itlabspro-position
    {
      bottom: 130px;
    }
    .itlabspro-position
    {
      display: none;
    }
    
    .itthecontainer
    {
      width: 100% !important;
    }
    .itthecontainerh
    {
      height: auto !important;
    }
    .excellence
    {
      height: auto !important;
    }
    .itlabspro-category
    {
      height: auto !important;
    }
    .cat-cards {
        height: 290px;
        width: 200px;
        margin: 20px auto 0pc auto;
        padding-top: 40px;
        text-align: center;
        background-color: #ffffff;
    }
    .testi-cards {
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 10px 16px 0 rgba(81, 79, 79, 0.19), 0 6px 20px 0 rgba(81, 79, 79, 0.19) !important;
    }
    .ittheimgabout
    {
      margin: 50px auto 50px auto !important;
    }
    .blog-p
    {
      width: 100% !important;
    }
    .itlabspro-col2
    {
      width: 100% !important;
    }
  
  }

.fade-ani{transition:all ease-out .5s 0s;overflow:hidden}.fade-ani{transition:all ease-out .5s 0s}h2{transition:all ease-out .5s 0s}.fade-ani{transition:all ease-out .5s 0s}.fade-ani{transition:all ease-out .5s 0s}.fade-ani{transition:all ease-out .5s 0s}.fade-ani{transition:all ease-out .5s 0s}.fade-ani{opacity:0;position:relative;}.fade-up{bottom:-50px;}.fade-down{top:-50px;}.fade-left{left:-50px;}.fade-right{right:-50px;}.fade-ani.showing{}.fade-in.showing{opacity:1;}.fade-up.showing{bottom:0px;opacity:1;}.fade-down.showing{top:-0px;opacity:1;}.fade-left.showing{left:-0px;opacity:1;}.fade-right.showing{right:-0px;opacity:1;}
.fade-ani.showingg{}.fade-in.showingg{opacity:1;}.fade-up.showingg{bottom:0px;opacity:1;}.fade-down.showingg{top:-0px;opacity:1;}.fade-left.showingg{left:-0px;opacity:1;}.fade-right.showingg{right:-0px;opacity:1;}